* {
	  margin: 0px;
	  padding: 0px;
	  border-width: 0px;
}
		
#leftContainer {
  position: fixed;
  width:400px;
  height: 100%;
}

#rightContainer {
  position: fixed;
  width: 400px;
  height: 100%;
  right: 0px;  
}

.toDoControlContainer {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  position : relative;
}

.toDoControlContainer > .list {
  top : 2em;
  bottom : 0px;
  width : 100%;
  overflow : auto;
  position : absolute;
}