* {
	  margin: 0px;
	  padding: 0px;
	  border-width: 0px;
}
		
#leftContainer {
  position: fixed;
  width:400px;
  height: 100%;
}

#rightContainer {
  position: fixed;
  width: 400px;
  height: 100%;
  right: 0px;
  
}
.todoList {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}
